<h2>Inbox (<%= received_messages.unread.count %>)</h2>

<% if sent_messages.count > 0 %>
  <h3>Sent</h3>

  <ul class="list-unstyled">
    <% sent_messages.each do |msg| %>
      <li><%= msg.subject %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Compose', compose_path, class: 'btn btn-default' %>
