<%= render 'messages/inbox_header', received_messages: received_messages %>

<ul class="list-unstyled" id="received-messages">
  <%= render partial: 'received_messages/received_message', collection: received_messages, locals: { show_path: show_path } %>
</ul>

<% if sent_messages.count > 0 %>
  <h3>Sent</h3>

  <ul class="list-unstyled">
    <% sent_messages.each do |msg| %>
      <li><%= link_to msg.subject, show_path.call(message_id: msg.id), class: 'text-muted' %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Compose', compose_path, class: 'btn btn-default' %>
