<h2>Inbox (<%= received_messages.unread.count %>)</h2>

<ul class="list-unstyled">
  <% received_messages.each do |msg| %>
    <li><%= link_to msg.subject, show_path.call(message_id: msg.message_id), class: (msg.is_read ? 'text-muted' : '') %></li>
  <% end %>
</ul>

<% if sent_messages.count > 0 %>
  <h3>Sent</h3>

  <ul class="list-unstyled">
    <% sent_messages.each do |msg| %>
      <li><%= link_to msg.subject, show_path.call(message_id: msg.id), class: 'text-muted' %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Compose', compose_path, class: 'btn btn-default' %>
