<h3>Over the past 24 hours, what emotions did you experience?</h3>
<%= form_for mood, url: create_path, method: "post", html: { role: "form" } do |f| %>

  <%= f.label :rating, "Did you feel bad, good, or neither yesterday?" %>
  <div class="range row">
    <div class="col-sm-4 left">0<br>Bad</div>
    <div class="col-sm-4 text-center">5<br>Neither</div>
    <div class="col-sm-4 right">10<br>Good</div>
  </div>
  <%= f.range_field :rating, in: 0..10, step: 1, value: 5 %>

  <%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>