<h3>What is your mood right now?</h3>
<%= form_for mood, url: create_path, method: "post", html: { role: "form" } do |f| %>

  <%= f.label :rating, "Did you feel bad, good, or neither yesterday?" %>
  <div class="range row">
    <div class="col-sm-4 left">-5<br>Bad</div>
    <div class="col-sm-4 text-center">0<br>Neither</div>
    <div class="col-sm-4 right">5<br>Good</div>
  </div>
  <%= f.range_field :rating, in: -5..5, step: 1, value: 0 %>

  <%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>