<h3>Rate your mood</h3>

<%= form_for mood, url: create_path, method: "post", html: { role: "form" } do |f| %>
  <%= render "moods/rating_selector", form: f, name: "rating", label: "What is your mood right now?", mood: mood %>

  <div class="form-group">
    <%= f.submit "Continue", class: "btn btn-primary" %>
  </div>
<% end %>
