<% if slide.is_title_visible %>
<div class="slide">
  <h1><%= slide.title %></h1>
</div>
<% end %>

<%= slide.render_body %>

<% case slide.class.to_s %>
<% when 'VideoSlide' %>
  <%= render 'slides/video', slide: slide %>
<% end %>
