<% [['home', 'Home'], ['thought_tracker', 'Think'], ['feelings_tracker', 'Feel'], ['activity_tracker', 'Do'], ['library', 'Learn'], ['messages', 'Messages']].each do |c| %>
  <h2><%= c[1] %></h2>
  <ul>
    <% ContentModule.find_all_by_context(c[0]).each do |m| %>
      <li><%= m.title %></li>
    <% end %>
  </ul>
<% end %>
