<h3>Your Recent Emotions</h3>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Recorded</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <%= render emotions %>
  </tbody>
</table>
