<h1>Edit Assigning</h1>
<%= form_for group_slideshow_join, html: {role: "form"} do |f| %>
  <%= render "group_slideshow_joins/fields", f: f %>
  <%= f.submit "Update", class: "btn btn-primary" %>
  <%= link_to "Cancel", manage_slideshows_group_path(group), class: "btn btn-default" %>
<% end %>