<h1>Edit Assigning</h1>
<%= form_for @group_slideshow_join, html: {role: "form"} do |f| %>
  <%= render "group_slideshow_joins/fields", f: f, groups: @groups, slideshows: @slideshows %>
  <%= link_to "Cancel", group_slideshow_join_path(@group_slideshow_join), class: "btn btn-default" %>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>