<% thought_patterns.each_with_index do |thought_pattern, i| %>
  <div class="thought-pattern" style="<%= i == 0 ? "" : "display: none;" %>">
    <h2><%= thought_pattern.title %></h2>

    <p><%= thought_pattern.description %></p>
  </div>
<% end %>

<button class="btn btn-default" id="next-thought-pattern">Continue</button>
