<div id="container">
	<div class="row">
		<div class="col-md-5 main-nav">
			<a href="think">Think</a>
			<a href="feel">Feel</a>
			<a href="do">*Do</a>
			<a href="learn">Learn</a>
			<a href="messages">Messages</a>
		</div>

		<div class="col-md-7 main-content">
			<h1>Welcome to Stepped Care!</h1>
			<p>It's simple.</p>
			<p>Feeling down or depressed?</p>
			<p>Log in at least once a day for a few weeks (the longer the better).</p>
			<p>Click on anything with a * next to it.</p>

			<button class="btn">Continue</button>
		</div>
	</div>
</div>
