<h1>Lessons</h1>
<div class="list-group">
  <% task_statuses.each do |ts| %>
    <% path = navigator_location_path(
      module_id: ts.bit_player_content_module_id,
      # Is there a change we wouldn't want the first content provider of each module?
      provider_id: ts.bit_player_content_module.content_providers.find_by_position(1).id,
      content_position: 1
    ) %>
    <a href="<%= path %>" class="list-group-item content-module" data-task-status-id="<%= ts.id %>"><%= active_task?(ts) %><%= ts.title %></a>
  <% end %>
</div>