<h1>Lessons</h1>
<div class="list-group">
  <% content_modules.each do |m| %>
    <a href="<%= navigator_location_path(module_id: m.id) %>" class="list-group-item">
      <span class="badge">1</span>
      <%= m.title %>
    </a>
  <% end %>
</div>
