body,html{font-family: 'Archivo Narrow', sans-serif !important;}
.container {width:90%;}
.main-nav {text-align: right; border-right: 1px solid black;}
.main-nav a {display:block; font-size:3em; text-transform: uppercase; color:black;}
.main-nav a:hover {text-decoration: none; color:#AAA;}
.main-content {text-align: left;}

.tool-nav {}
.tool-nav h1 {}
.tool-nav h2 {}
.tool-nav h3 {}

input.form-button {
	margin-top: 8px;
}

#auth_nav {
	position:absolute;
	top:15px;
	right:15px;
}

#home_nav {
	position:absolute;
	top:15px;
	left:15px;
}

#alerts{
	position:fixed;
	bottom:50px;
	font-weight:bold;
	font-size:1.1em;
}

.form-control.big {font-size:1.5em;}

.range.row .left {text-align:left}
.range.row .center {text-align:center}
.range.row .right {text-align:right}