$think-color: #72A049;
$feel-color: #5A5198;
$do-color: #7E4791;

body, html {
  font-family: 'Archivo Narrow', sans-serif !important;
}

.container {width:90%;}
.main-nav {text-align: right; border-right: 1px solid black;}
.main-nav a {display:block; font-size:3em; text-transform: uppercase; color:black;margin:0;padding-right:40px;}
.main-nav a:hover {text-decoration: none; color:#AAA;}
.main-content {text-align: left;}
.main-content h2 {margin-top:.5em; display:block;}

input.form-button {
	margin-top: 8px;
}

#auth_nav {
	position:absolute;
	top:15px;
	right:15px;
}

#home_nav {
	position:absolute;
	top:15px;
	left:15px;
}

#alerts{
	position:fixed;
	bottom:50px;
	font-weight:bold;
	font-size:2.1em;
}

.form-control.big {font-size:1.5em;}

.range.row .left {text-align:left}
.range.row .center {text-align:center}
.range.row .right {text-align:right}

footer {position:fixed; bottom:15px; left:15px;}

.logo{font-weight:bold;font-size:4em;}

.think {
  color: $think-color;
}

.feel {
  color: $feel-color;
}

.do {
  color: $do-color;
}

.icon-asterisk {
  color: $do-color;
}

.icon-caret-right {
  color: $feel-color;
  margin-right: -30px;
  width: 30px;
}

a {
  color: $think-color;
}

li.radio-question-group {
  margin-left:20px; 
  margin-top:20px;
}

form.phq9-form {
  margin-bottom: 60px;
}