<h2>OK, you also said certain things were important to you.</h2>
<p> Want to do any of these?</p>

<%= form_tag create_path, method: "post", :html => { role: "form", :class => "activity_form", id: "activity-form"} do %>
	<% past_activities.each do |activity| %>
		<div class="checkbox">
			<label>
				<%= check_box_tag "unplanned_activities[activity_type_ids][]", activity.activity_type_id %><%= activity.activity_type.title %>
			</label>
		</div>
	<% end %>
	<%= submit_tag 'Continue', class: 'btn btn-default' %>
<%end%>
