<%= form_tag create_path, method: "post", :html => { role: "form", :class => "activity_form", id: "activity-form"} do %>
				
	<h2>OK, what’s something fun that you can do this week?</h2>

	<%= text_field_tag "unplanned_activities[activity_type_title]", class: "form_control"%>

	<h2>And, something else you can do that gives you a sense of accomplishment?</h2>

	<%= text_field_tag "unplanned_activities[activity_type_title]", class: "form_control"%>

	<%= submit_tag %>
	
<%end%>