<h1>Things you found fun.</h1>

<table class="table">
  <%= render partial: 'activities/activity', collection: activities %>
</table>

<h2>Why does this matter?</h2>

<p>Because doing things that are fun can make you happier.</p>

<p>Have fun! Really!</p>
