<div id="container">
	<div class="row">
		<div class="col-md-2 section-headings">
		<h1>DO</h1>
		<h2>Intro</h2>
		</div>

		<div class="col-md-10 main-content">
			<h1>Let's get started</h1>


			<button class="btn">Continue</button>
		</div>
	</div>
</div>
