<div id="container">
	<div class="row">
		<div class="col-md-5 main-nav">
			<a href="think">Think</a>
			<a href="feel">Feel</a>
			<a href="do">*Do</a>
			<a href="learn">Learn</a>
			<a href="messages">Messages</a>
		</div>

		<div class="col-md-7 main-content">
			<a href="chapter1">Chapter 1<br/>Awareness</a>
			<a href="chapter1">Chapter 2<br/>Planning</a>
			<a href="chapter1">Chapter 3<br/>Doing</a>


		</div>
	</div>
</div>
