<h2><%= title %></h2>

<%= (introduction ||= "").html_safe %>

<ul>
  <% thoughts.each do |thought| %>
    <li><%= thought.content %></li>
  <% end %>
</ul>

<p><%= (postscript ||= "").html_safe %></p>
