<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <div class="container" id="main-layout">
      <div class="row">
        <div class="col-md-7 main-content">
          <h1 class="logo"><span class="think">Think</span><span class="feel">Feel</span><span class="do">Do</span></h1>

          <%= yield %>
        </div>

        <div class="col-md-5">
        </div>
      </div>

      <div class="row" id="alerts">
        <%= render 'shared/alerts' %>
      </div>
    </div>
  </body>
</html>
