<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h1 class="logo"><span class="think">Think</span><span class="feel">Feel</span><span class="do">Do</span></h1>
      </div>

      <div class="row">
        <%= link_to 'Messages', coach_messages_path %>
      </div>

      <div class="row" id="alerts">
        <%= render 'shared/alerts' %>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
